{% extends 'base/base.html' %}

{% load placeholders %}

{% block page_content %}

    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <form method="post" action="{% url 'user register' %}">
                {{ form.username|placeholder:'Username:' }}
                {{ form.email|placeholder:'Email:' }}
                {{ form.password1|placeholder:'Password:' }}
                {{ form.password2|placeholder:'Password:' }}
                <button type="submit">Register</button>
                {% csrf_token %}
            </form>
        </div>
        <div class="second-option">
            <p>Have an account? <a href="{% url 'user login' %}">Log in</a></p>
        </div>
    </div>
{% endblock %}