{% extends 'base/base.html' %}
{% block page_content %}

    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <form method="post" action="{% url 'user register' %}">
                {{ form.username }}
                {{ form.email }}
                {{ form.password1 }}
                {{ form.password2 }}
                <button type="submit">Register</button>
                {% csrf_token %}
            </form>
        </div>
        <div class="second-option">
            <p>Have an account? <a href="{% url 'user login' %}">Log in</a></p>
        </div>
    </div>
{% endblock %}